* {
    margin: 0px;padding:0px;

}
#para1 {color:red;
text-align: center;
background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXprOTEzdnF1dTUxMXR2bHU3MXpxdmhmenk4anBqNXZoMTdoZTJybyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohhwyEGK6KA41lcEU/giphy.webp");}

.para2{color:blue;
    text-align: center;
    font-size: larger;
background: scroll;
background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXprOTEzdnF1dTUxMXR2bHU3MXpxdmhmenk4anBqNXZoMTdoZTJybyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohhwyEGK6KA41lcEU/giphy.webp");
}

/*css background property */
 body{
    /* background-color:rgb(3, 89, 3); */
    background: red url("images/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report.jpg")  right top;
    /* background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    */
  background-repeat:round ;
}
.new-back{
    background-color: beige;
    /* display: inline; */
    text-align: center;
    color:red;}
    .new-back2{
color:aliceblue;
text-align:center;
background-color: blueviolet;
/* background: ; */
margin:20px 20px 10px 30px;
    }


    .colorx{
       background-color: red;
       width: 400px;
       height: 400px;
       /* justify-content:right; */
    /* display: block; */
margin: auto;
border: 5px solid rgb(255, 64, 0);
border-radius: 50%;
margin-top: 100px;
margin-bottom: 100px;
/* opacity: 40%; */

}
       
