* {
    margin: 0px;padding:0px;

}
#para1 {color:red;
text-align: center;}
.para2{color:blue;
    text-align: center;
    font-size: larger;


}

/*css background property */
body{
    background-color:rgb(3, 89, 3);
    /* background-image: url(/images/istockphoto-92661399-1024x1024.jpg); */
}
.new-back{
    background-color: beige;
    /* display: inline; */
    text-align: center;
    color:red;}
    .new-back2{
color:aliceblue;
text-align:center;
background-color: blueviolet;
/* background: ; */
margin:20px 20px 10px 30px;
    }
    .colorx{
       background-color: red;
       width: 400px;
       height: 400px;
       /* justify-content:right; */
    /* display: block; */
margin: auto;
border: 5px solid rgb(255, 64, 0);
border-radius: 50%;
margin-top: 100px;
margin-bottom: 100px;
/* opacity: 40%; */

}
       
